{% extends 'adminBase.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Service_id</th>
                <td>{{ reservation.serviceId }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ reservation.userId }}</td>
            </tr>
            <tr>
                <th>Reservation_start</th>
                <td>{{ reservation.reservationStart ? reservation.reservationStart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Reservation_end</th>
                <td>{{ reservation.reservationEnd ? reservation.reservationEnd|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reservation.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Pay</th>
                <td>{{ reservation.pay ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ reservation.createdAt ? reservation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ reservation.updatedAt ? reservation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('admin/reservation/_delete_form.html.twig') }}
{% endblock %}
