<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}SerinityLab{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="SerinityLab"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Pour être au courant de l’ouverture du site, laissez nous votre mail"/>
    <meta property="og:image" content="https://serinitylab.fr{{ asset('build/images/Group_1.svg') }}"/>
    <link rel="icon" type="image/svg" href="{{ asset('build/images/Group_1.svg') }}"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
      {% include 'component/js.html.twig' %}
      {% include 'component/_script.html.twig' %}
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
      {% include 'component/_navbar.html.twig' %}
    {% endblock %}
    {% block body %}
      <section class="section1 bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Trouvez
                <br>l’activité qu’il<br>vous faut</h1>
              <p class="mt-5">Cherchez ce qu’il vous fait envie</p>
              <a class="btnSl" href="{{ path('app_activity')}}">
                Découvrez nos activités</a>
            </div>
            <div class="col-md-6 position-relative">
              <div data-aos="flip-left"></div>

              <img class="yogaWomen img-fluid" src="{{ asset('build/images/yogaWomen.svg') }}" alt="yogaWomen">
              <img class="headMassage img-fluid" src="{{ asset('build/images/headMassage.svg') }}" alt="headMassage">
            </div>
          </div>
        </div>
      </section>
      <section class="section2">
        <div class="container">
          <div class="row">
            <div class="col-md-6 position-relative">
              <img class="imgSection img-fluid" src="{{ asset('build/images/massageHome.jpg') }}" alt="watchPhone">
            </div>
            <div class="col-md-6">
              <span class="categorie-home">Massage</span>
              <h2>Plongez dans un monde de relaxation et de tranquillité</h2>
              <p class="paragraph1">Grâce à notre catégorie exclusive de massages. Laissez-vous emporter par des mains expertes qui sauront apaiser vos tensions et vous offrir une expérience sensorielle unique.
              </p>
              <p class="paragraph2">Que vous cherchiez un massage suédois revitalisant, un massage thaïlandais traditionnel ou une séance de réflexologie pour stimuler votre énergie vitale, notre plateforme vous permettra de trouver facilement le praticien idéal dans votre région. Profitez d'un moment de détente totale et laissez les soucis s'envoler tandis que vous vous abandonnez aux bienfaits apaisants d'un massage professionnel.
              </p>
              <div class="d-flex justify-content-end">
                <a class="btn btn-third" href="{{ path('app_activity_category', { 'id': 1}) }}">Voir plus</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section3 bg-primary py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <span class="categorie-home-white">Spa</span>
              <h2>Spas partenaires offrent des services de bien-être et traitements supérieurs</h2>
              <p class="paragraph1">Découvrez une oasis de calme et de sérénité où vous pourrez vous détendre dans des bains à remous revigorants, vous faire chouchouter avec des soins du visage et du corps haut de gamme, ou simplement profiter de l'ambiance apaisante de saunas et hammams.</p>
              <p class="paragraph2">Que vous souhaitiez prendre soin de votre peau, relâcher les tensions musculaires ou simplement vous offrir un moment de pure détente, notre sélection de spas de qualité vous garantit une expérience bien-être inoubliable, adaptée à vos besoins et à vos préférences.</p>
              <div class="d-flex justify-content-end">
                <a class="btn btn-third" href="{{ path('app_activity_category', { 'id': 2}) }}">Voir plus</a>
              </div>
            </div>
            <div class="col-md-6 position-relative">
              <img class="imgSection img-fluid" src="{{ asset('build/images/spaHome.jpg') }}" alt="imageFiltre">
            </div>
          </div>
        </section>
        <section class="section4">
          <div class="container">
            <div class="row">
              <div class="col-md-6 position-relative">
                <img class="imgSection img-fluid" src="{{ asset('build/images/salle-de-sport-home.jpg') }}" alt="imageTalk">

              </div>
              <div class="col-md-6">
                <span class="categorie-home">Salle de sport</span>
                <h2>Donnez à votre corps l'attention qu'il mérite avec nos salles de sport</h2>
                <p class="paragraph1">Que vous soyez un adepte du cardio, de la musculation, du yoga ou de toute autre discipline, vous trouverez l'endroit idéal pour vous entraîner et repousser vos limites. Nos partenaires offrent une variété d'installations modernes et d'équipements de pointe pour vous permettre de vous exercer efficacement.
                </p>
                <p class="paragraph2">Que vous soyez débutant ou athlète confirmé, nos salles de sport vous offrent un environnement motivant et stimulant pour atteindre vos objectifs de remise en forme. Faites un pas vers une vie saine et énergique en rejoignant dès maintenant une salle de sport près de chez vous.
                </p>
                <div class="d-flex justify-content-end">
                  <a class="btn btn-third" href="{{ path('app_activity_category', { 'id': 3}) }}">Voir plus</a>
                </div>
              </div>

            </div>
          </div>
        </section>
        <section class="section5 bg-primary py-5">
          <div class="container">
            <div class="row">

              <div class="col-md-6">
                <span class="categorie-home-white">Salon de beauté</span>
                <h2>Profitez d'un moment de détente et laissez nos salons révéler toute votre beauté.</h2>
                <p class="paragraph1">Des coupes de cheveux tendance aux traitements capillaires revitalisants, en passant par les soins du visage personnalisés et les manucures impeccables, nos experts en beauté sont là pour vous sublimer.
                </p>
                <p class="paragraph2">Laissez-vous dorloter dans une atmosphère chaleureuse et professionnelle, où chaque détail est pensé pour vous offrir une expérience de beauté exceptionnelle. Découvrez les dernières tendances, les produits de qualité et les techniques innovantes pour révéler votre meilleur vous-même.
                </p>
                <div class="d-flex justify-content-end">
                  <a class="btn btn-third" href="{{ path('app_activity_category', { 'id': 4}) }}">Voir plus</a>
                </div>
              </div>
              <div class="col-md-6 position-relative">
                <img class="imgSection img-fluid" src="{{ asset('build/images/salonHome.jpg') }}" alt="imageFiltre">
              </div>
            </div>
          </section>
          <footer class="footerHome bg-light p-5">
            <div class="container">
              <div class="row">
                <div class="col-6 col-md-4">
                  <h3>Navigation</h3>
                  <ul>
                    <li>
                      <a href="#">Accueil</a>

                    </li>
                    <li>
                      <a href="#">Activités
                      </a>
                    </li>
                    <li>
                      <a href="#">Qui sommes-nous ?
                      </a>
                    </li>
                    <li>
                      <a href="#">Contact
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-6 col-md-4">
                  <h3>INFORMATIONS</h3>
                  <ul>
                    <li>
                      <a href="#">Politique de confidentialité</a>
                    </li>
                    <li>
                      <a href="#">Mention légales</a>
                    </li>
                    <li>
                      <a href="#">Conditions générales d'utilisation</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h3>Contact</h3>
                  <ul>
                    <li>
                      <a href="#">Page de Contact</a>
                    </li>
                    <li>
                      <a href="#">Tel : +33 01 24 35 27 27</a>
                    </li>
                    <li>
                      <a href="#">Mail : contact@serinityLab.com</a>
                    </li>
                    <li>
                      <a href="#">Adresse : 12 rue détente, Paris 75011</a>
                    </li>
                  </ul>

                </div>
              </div>
              <div class="d-md-flex justify-content-center">
                <p>SUIVEZ-NOUS!</p>
                <ul>
                  <li class="socialMedia d-flex justify-content-center">
                    <img class="ic_baseline-facebook" src="{{ asset('build/images/facebookBlack.svg') }}" alt="facebook">
                    <img class="instagram mx-2" src="{{ asset('build/images/instagramBlack.svg') }}" alt="instagram">
                    <img class="pinterest" src="{{ asset('build/images/pinterestLogoBlack.svg') }}" alt="tiktok">
                    <img class="tiktok mx-2" src="{{ asset('build/images/tiktokBlack.svg') }}" alt="tiktok">
                  </li>
                </ul>
              </div>
            </div>
            <div class="row lastDivFooter mt-5">
              <div class="col-4">
                <a href="">Mentions légales</a>
              </div>
              <div class="col-4">
                <a href="">Droits d’auteur</a>
              </div>
              <div class="col-4">
                <a href="">Propriété intellectuelle</a>
              </div>
            </div>
          </footer>

        {% endblock %}
      </body>
    </html>
