{% extends 'base.html.twig' %}

{% block title %}Hello LandingPageController!{% endblock %}

{% block body %}
  <section class="section1 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Trouvez l’activité qu’il vous faut</h1>
          <p>Pour être au courant de l’ouverture du site, laissez nous votre mail</p>
              {{ include('component/_form.html.twig') }}
        </div>
        <div class="col-md-6 position-relative">
          <img class="yogaWomen img-fluid" src="{{ asset('build/images/yogaWomen.svg') }}" alt="yogaWomen">
          <img class="headMassage img-fluid" src="{{ asset('build/images/headMassage.svg') }}" alt="headMassage">
        </div>
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>La possibilité de voir les activités autour de vous</h2>
          <p>En effet, grâce à une map vous pouvez voir les différentes activités près de vous. Vous pourrez ainsi repérer les salles de sports ou activités de bien être qui vous convient.</p>
        </div>
        <div class="col-md-6 position-relative">
          <img class="watchPhone img-fluid" src="{{ asset('build/images/watchPhone.svg') }}" alt="watchPhone">
        </div>
      </div>
    </div>
  </section>
  <section class="section3 bg-primary py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 position-relative">
          <img class="imageFiltre img-fluid" src="{{ asset('build/images/imageFilre.svg') }}" alt="imageFiltre">
        </div>
        <div class="col-md-6">
          <h2>Retrouvez le filtre pour vous trouvez l’activité qui est faites pour vous</h2>
          <p>Vous avez la possibilité de retrouver un filtre qui va vous permettre de tomber sur l’activité que vous rechercher. Que ce soit par thème, prix ou proximité.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Discutez et échangez avec les utilisateurs du site</h2>
          <p>Vous pouvez avec un chat intégré sur le site, échangez avec d’autres utilisateurs du site. Cela peut être pour des conseils d’activités ou pour se motiver.</p>
        </div>
        <div class="col-md-6 position-relative">
          <img class="imageTalk img-fluid" src="{{ asset('build/images/imageTalk.svg') }}" alt="imageTalk">
        </div>
      </div>
    </div>
  </section>

{% endblock %}
