{% extends 'base.html.twig' %}

{% block title %}{{ activity.name }}{% endblock %}

{% block body %}
    <h1>Activity</h1>

<div class="container">
    <div class="row">
        <p>All img</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>All Containt</p>
        </div>
        <div class="col-md-4">
            <h1>{{ activity.name }}</h1>
            <p>prestations</p>
            <p>Disponibilités</p>
            {% include 'activity/_calendar.html.twig' %}
        </div>
    </div>
</div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ activity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activity.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ activity.price }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ activity.address }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ activity.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ activity.longitude }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ activity.createdAt ? activity.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ activity.updatedAt ? activity.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
