{% extends 'base.html.twig' %}

{% block title %}{{ activity.name }}
{% endblock %}

{% block body %}
  <h1>Activity</h1>

  <div class="container">
    <div class="row">
      <p>All img</p>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p>All Containt</p>
      </div>
      <div class="col-md-4">
        <h1>{{ activity.name }}</h1>
        <p>prestations</p>
        <p>Disponibilités</p>
        <form method="POST" action="{{ path('app_activity_show', {'id': activity.id}) }}">
          <select class="select" name="service" onchange="updateTotal()">
            <option value="" disabled="disabled" selected="selected" hidden="hidden">Découvrez les prestations</option>
            {% for service in activity.services %}
              <option value="{{ service.id }}" data-price="{{ service.price }}">
                {{ service.name }}
                {{ service.price }}€
              </option>

            {% endfor %}
          </select>
          {% include 'activity/_calendar.html.twig' %}
          <div class="d-flex justify-content-between">
            <p>Total</p>
            <div id="total">0€</div>
          </div>
          <button type="submit">Reservez</button>
        </form>
      </div>
    </div>
  </div>
  {% block javascriptsTotal %}
    <script>
      function updateTotal() {
        var selectElement = document.querySelector('.select');
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var price = selectedOption.dataset.price;
        document.getElementById('total').innerText = price + '€';
      }
    </script>

  {% endblock %}

{% endblock %}
