{{ form_start(reviewForm, {'attr': {'id': 'review-form'}}) }}
<div class="form-group">
  {{ form_row(reviewForm.comment) }}
</div>
<div id="reviewFormContainer" style="display: none;">
  <div class="form-group">
    {{ form_label(reviewForm.score.price_quality, 'Qualité - prix :', {'label_attr': {'class': 'sr-only'}}) }}
    <div class="wrapper">
      {{ form_widget(reviewForm.score.price_quality, {'attr': {'class': 'form-control range-slider', 'type': 'range', 'value': reviewForm.score.price_quality.vars.value|default(0), 'placeholder': 'Rayon', 'min': 1, 'max': 5}}) }}
      <span class="slide-value">{{ reviewForm.score.price_quality.vars.value }}</span>
    </div>
  </div>

  <div class="form-group">
    {{ form_label(reviewForm.score.cleanliness, 'Propreté :', {'label_attr': {'class': 'sr-only'}}) }}
    <div class="wrapper">
      {{ form_widget(reviewForm.score.cleanliness, {'attr': {'class': 'form-control range-slider', 'type': 'range', 'value': reviewForm.score.price_quality.vars.value|default(0), 'placeholder': 'Rayon', 'min': 1, 'max': 5}}) }}
      <span class="slide-value">{{ reviewForm.score.cleanliness.vars.value }}</span>
    </div>
  </div>

  <div class="form-group">
    {{ form_label(reviewForm.score.location, 'Emplacement :', {'label_attr': {'class': 'sr-only'}}) }}
    <div class="wrapper">
      {{ form_widget(reviewForm.score.location, {'attr': {'class': 'form-control range-slider', 'type': 'range', 'value': reviewForm.score.location.vars.value|default(0), 'placeholder': 'Rayon', 'min': 1, 'max': 5}}) }}
      <span class="slide-value">{{ reviewForm.score.location.vars.value }}</span>
    </div>
  </div>

  <div class="form-group">
    {{ form_label(reviewForm.score.product, 'Produit :', {'label_attr': {'class': 'sr-only'}}) }}
    <div class="wrapper">
      {{ form_widget(reviewForm.score.product, {'attr': {'class': 'form-control range-slider', 'type': 'range', 'value': reviewForm.score.product.vars.value|default(0), 'placeholder': 'Rayon', 'min': 1, 'max': 5}}) }}
      <span class="slide-value">{{ reviewForm.score.product.vars.value }}</span>
    </div>
  </div>
  <button class="btn">{{ button_label|default('Save') }}</button>
  {{ form_end(reviewForm) }}
</div>

<script>
  const rangeSliders = document.querySelectorAll(".range-slider");
  const slideValues = document.querySelectorAll(".slide-value");
  rangeSliders.forEach((slider, index) => {
    slider.addEventListener("input", () => {
      let rangeVal = slider.value;
      slideValues[index].innerText = rangeVal;
    });
  });
</script>
