
{{ form_start(formContact, {'attr': {'class': 'sendEmail'}}) }}

{{ form_errors(formContact,{'attr': {'class': 'error'}}) }}
{{ form_row(formContact.email) }}
<input type="submit" value="Envoyer" class="btn btn-secondary">
{{ form_end(formContact) }}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message}}
    </div>
{% endfor %}